
  * {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 690px;
    width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  #main {
    display: flex;
    flex: 1;

  }
  #main > article {
    flex: 1;
    order: 1;
    background: #72af68;
    height: 400px;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 10vw;
  }
  #main > nav {  
    order: 3;
    background: rgb(76, 177, 172);
  }
  #main > aside {
    background: rgb(76, 177, 172);
    order: 2;
    height: 400px;
  }
  header, footer {
    background: yellowgreen;
    height: 300px;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }